<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Smart Crop Recommendation</title>

    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>

<div class="container">

    <div class="card">

        <h1>🌱 Smart Crop AI</h1>
        <p>Create Account</p>

        <input type="text" id="name" placeholder="Full Name">

        <input type="email" id="email" placeholder="Email">

        <input type="password" id="password" placeholder="Password">

        <button onclick="register()">Register</button>

        <div class="bottom-text">
            Already have an account?
            <a href="/login">Login</a>
        </div>

        <div id="message"></div>

    </div>

</div>

<script src="/js/signup.js"></script>

</body>
</html>